.peso{
    height: 180px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 3%;
    background-color: white;
}

.pesos{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}