@import url("https://fonts.googleapis.com/css?family=CircularStd+Book");

html {
  height: 100%;
}

body {
  font-family: "CircularStd-Book", cursive;
  background-color: rgb(209, 209, 209);
  margin: 0;
  padding: 0;
  height: 100%;
}