.toolbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: gray;
    height: 150px;
}

.toolbar__navegacion {
    display: flex;
    height: 100%;
    align-items: center;
    padding: 0 1rem;
}

.toolbar__titulo  {
    color: white;
    text-decoration: none;
    font-size: 1.5rem; 
    height: 100px;
}

.espacio {
    flex: 1;
}

.toolbar_navegacion_item ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}
 
.toolbar__navegacion li {
    padding: 0 0.2rem;
}


.toolbar__navegacion a {
    color: white;
    text-decoration: none;
}


.toolbar__titulo a:hover,
.toolbar__titulo a:active {
    color: orange;
}