.topBarDeleteModal{
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.buttonsContent{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.infoContent{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.infoColumn{
    display: flex;
    flex-direction: column;
}

.textTopBarDeleteModal{
    margin-top: 0;
}