.note{
    margin-bottom: 5px;
    border-top: 1px solid black;
}

.date{
    font-size: 10px;
    text-align: left;
    margin: 0;
        margin-top: 12px;

}

.buttonAndTextComment{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.text{ 
    text-align: justify;
    font-size: 12px;
    width: 284px;
    margin-top: 12px;
    margin-bottom: 12px;

}

.button{
    width: 20px;
    height: 20px; 
    border-radius: 10px;
}