.tittleLogin{
    color: #8c8c8c;
    margin-top: 40%;
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
   justify-content: center;
   align-items: flex-end;
   align-content: space-around;
}
  
.formLogin{
    flex-wrap: wrap;
    margin: 5px;
}
  
.form-input {
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-left: 160px;
}
  
.buttonLogin {
    margin-top: 10px;
    width: 90%;
}

.terminos{
   font-size: 10px;
}

.terminosEnlace{
   font-size: 10px;
   color: blue;
}
  
.login {
    width: 100vw;
    height: 100vh;
    background-color: gray;
    display: flex;
   justify-content: center;
} 

.loginContent{
    background-color: white;
    width: 90vw;
    height: 50vh;
    margin-top: 30%;
}