.backdrop {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.3);
    z-index: 100;
}
.backdrop {
    height: 100%;
    background: white;
    box-shadow: 1px 0px 3px  rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 70%;
    max-width: 400px;
    z-index: 200;
    transform: translateX(-100%);
    transition: transform 0.3s ease-out;
}

.backdrop {
    transform: translateX(0);
}
.backdrop ul {
    height: 100%;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.backdrop li {
    margin: 0.5rem 0;
}

.backdrop a {
    color: brown;
    text-decoration: none;
    font-size: 1.2rem;
}

.backdrop a:hover,
.backdrop a:active {
    color: orange;
}  


@media (min-width: 769px) {
    .backdrop {
        display: none;
    }
}

