.topBarPrincipalScreen {
    display: flex;
    flex-direction: row;   
    justify-content: space-around;  
    height: 55px;  
    width: 100%;
    align-items: center;
}

.barraDeBusqueda{
    background-color:white;   
    width: 100px;    
    height: 10px;    
    border: 1px solid red;
}