.humTemp{
    height: 180px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 3%;
    background-color:
    white;
    background-color: white;
}

.humTemps{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}